# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/*
bin/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Export libraries
*.exp

# Executables
*.exe
*.out
*.app

# Debug symbols
*.pdb

# Resource file
*.RES

# CLion
.idea

# VSCode
.vscode
